/* .class-name {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}
.class-name h1,
.class-name p,
.class-name button, */
.class-name {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#cardMain {
  background-color: #23263a;
  height: 80vh;
  overflow: auto;
  width: 100%;
}
#cardMain #cards-wrapper {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
#cardMain #cards-wrapper #cards {
  height: 50vh;
  position: relative;
  width: 80vw;
}
#cardMain #cards-wrapper #cards .card-wrapper {
  height: 400px;
  position: absolute;
  top: 50%;
  transition: all 0.25s;
  width: 280px;
}
#cardMain #cards-wrapper #cards .card-wrapper:not(.selected):hover {
  cursor: pointer;
}
#cardMain #cards-wrapper #cards .card-wrapper:not(.selected):hover .card {
  top: calc(50% - 50px);
}
#cardMain #cards-wrapper #cards .card-wrapper:not(.selected):hover .card .icon {
  color: #23263a;
}
#cardMain #cards-wrapper #cards .card-wrapper:first-child {
  top: calc(50% + 50px);
  transform: translateY(-50%) rotate(-10deg);
}
#cardMain #cards-wrapper #cards .card-wrapper:nth-child(2) {
  top: calc(50% + 20px);
  transform: translateY(-50%) rotate(-5deg);
}
#cardMain #cards-wrapper #cards .card-wrapper:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}
#cardMain #cards-wrapper #cards .card-wrapper:nth-child(4) {
  top: calc(50% + 20px);
  transform: translateY(-50%) rotate(5deg);
}
#cardMain #cards-wrapper #cards .card-wrapper:nth-child(5) {
  top: calc(50% + 50px);
  transform: translateY(-50%) rotate(10deg);
}
#cardMain #cards-wrapper #cards .card-wrapper.selected {
  height: 400px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 280px;
}
#cardMain #cards-wrapper #cards .card-wrapper.selected .card {
  height: 600px;
  width: 420px;
}
#cardMain #cards-wrapper #cards .card-wrapper.selected .card .icon {
  top: 20px;
  transform: translate(-50%, 0px);
}
#cardMain #cards-wrapper #cards .card-wrapper.selected .card .icon {
  color: #23263a;
}
#cardMain #cards-wrapper #cards .card-wrapper .card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.08);
  height: 400px;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s;
  width: 280px;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.25s;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .icon {
  color: #b4b4b4;
  font-size: 6em;
  height: 150px;
  line-height: 150px;
  width: 150px;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content {
  animation: fadeIn 1s;
  margin-top: 170px;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content .title h1 {
  color: #23263a;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content .text {
  margin-top: 100px;
  padding: 20px 40px;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content .text p {
  color: #787878;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content .close-button {
  background-color: white;
  border: none;
  border-radius: 100px;
  bottom: 20px;
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  height: 50px;
  left: 50%;
  outline: none;
  padding: 0px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.25s;
  width: 50px;
}
#cardMain
  #cards-wrapper
  #cards
  .card-wrapper
  .card
  .content
  .close-button:hover,
#cardMain
  #cards-wrapper
  #cards
  .card-wrapper
  .card
  .content
  .close-button:focus {
  bottom: 25px;
}
#cardMain
  #cards-wrapper
  #cards
  .card-wrapper
  .card
  .content
  .close-button:hover
  i,
#cardMain
  #cards-wrapper
  #cards
  .card-wrapper
  .card
  .content
  .close-button:focus
  i {
  color: #23263a;
}
#cardMain #cards-wrapper #cards .card-wrapper .card .content .close-button i {
  color: #787878;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
#cardMain #youtube-link {
  bottom: 0px;
  color: #5a5a5a;
  font-size: 1.25em;
  font-weight: 700;
  margin: 20px;
  position: fixed;
  right: 0px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
