.experience {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.night {
  height: 100vh;
  width: auto;
  border: 1px solid #000;
  /* margin: 5rem auto; */
  background: url("../assets/Img_1.png");
  background-size: cover;
  position: relative;
  box-shadow: 1px 2px 60px rgba(0, 0, 0, 4);
  overflow-x: hidden;
}

.surface {
  height: 140px;
  width: 5000px;
  background: url("../assets/Img_02.png");
  background-repeat: repeat-x;
  display: block;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-repeat: repeat-x;
  animation: moveRight 6s linear infinite;
}

.car {
  position: absolute;
  bottom: 6%;
  left: 28%;
  animation: suspension 1s linear infinite;
}

/*Animation */

@keyframes moveRight {
  100% {
    transform: translateX(-2950px);
  }
}

@keyframes suspension {
  100% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-1px);
  }
}

.p-design {
  font-size: 2rem;
  font-weight: 400;
  text-align: start;
  /* margin: 2vmin; */
}

.ul-design {
  margin-top: auto;
  font-size: 1rem;
  line-height: 1.5;
  /* margin: 2vmin 20vmin; */
  list-style: none;
}

.li-design {
  position: relative;
  font-weight: 700;
  transition: 0.25s ease-in-out;
  margin: 2%;
}

.pressed .li-design:hover {
  text-shadow: 1px 1px 0px hsl(0, 0%, 5%), -1px -1px 0px hsl(0, 0%, 15%);
}

.li-design:hover {
  cursor: pointer;
  color: hsl(200, 100%, 30%);
}

.li-design::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -0.75em;
  top: 46%;
  width: 0.3em;
  height: 0.3em;
  box-sizing: border-box;
  border-radius: 100%;
  border: 0.1em solid hsl(0, 0%, 20%);
  background-color: hsl(200, 100%, 50%);
  transition: 0.125s ease-in-out;
  box-shadow: 0 0 0.1rem 0.1rem hsla(0, 0%, 50%, 0.25);
  animation: pulse 1s 1s infinite linear alternate;
}

@keyframes pulse {
  from {
    background-color: hsl(200, 100%, 50%);
  }
  to {
    background-color: hsl(200, 0%, 20%);
  }
}

.li-design:hover::before {
  border-width: 0;
  background-color: hsl(0, 100%, 50%);
  box-shadow: 0 0 0.5rem 0.1rem hsla(0, 100%, 50%, 1);
  animation: none;
}

body {
  background: linear-gradient(#ffffff, #111d9e);
}

.Experience {
  background-color: #1a1531;
  font-family: "Raleway";
  color: #fbfcfc;
  width: 120vw;
  height: 100vh;
}

.top-experience-text {
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 50px;
  margin-top: 5%;
}

section {
  width: 100%;
  box-sizing: border-box;
  min-height: 33vh;
}
section .section-wrapper {
  padding: 2px;
  box-sizing: border-box;
  color: #ffff;
  height: 100%;
  width: 100%;
}

.line {
  width: 90%;
  height: 4px;
  background: linear-gradient(to right, #c0392b 13.25%, #fbfcfc 13.25%);
  margin-top: 20vh;
  margin-left: 5%;
}
.line:hover {
  cursor: pointer;
}
.line .year {
  background-color: #fbfcfc;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 5.3%;
  box-sizing: border-box;
  margin-right: calc(2.65% - 12.5px);
  margin-left: calc(2.65% - 12.5px);
  width: 25px;
  height: 25px;
  top: -10px;
}
.line .year::before {
  content: attr(data-timelinelabel);
  position: absolute;
  top: -75px;
  left: -5px;
  width: 150px;
  transform: rotateZ(-45deg);
  display: block;
  font-size: 0.8em;
  font-weight: bold;
}
.line .year::after {
  content: attr(data-mobiletext);
  position: absolute;
  top: 23px;
  left: -15px;
  padding: 10px;
}
.line .quarter {
  background-color: #fbfcfc;
  border-radius: 50%;
  float: left;
  position: relative;
  left: 5.3%;
  box-sizing: border-box;
  margin-right: calc(2.65% - 7.5px);
  margin-left: calc(2.65% - 7.5px);
  width: 15px;
  height: 15px;
  top: -5px;
}
.line .complete {
  background-color: #c0392b;
}
.line .dot.active {
  background-color: #c0392b;
  cursor: pointer;
}

#timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1a1531;
  color: #eeff00;
}

.year-header {
  margin-top: auto;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

#description {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3%;
  min-height: 50vh;
  background-color: #1a1531;
}
#description h3 {
  color: #c0392b;
  font-weight: 600;
}
#description .section-wrapper > div {
  display: none;
}
#description .section-wrapper > div.text-default {
  /* display: block; */
  padding: 2%;
}

@media all and (max-width: 760px) {
  .line .year {
    width: 20px;
    height: 20px;
    margin-right: calc(2.65% - 10px);
    margin-left: calc(2.65% - 10px);
    top: -8px;
  }
  .line .quarter {
    width: 10px;
    height: 10px;
    margin-right: calc(2.65% - 5px);
    margin-left: calc(2.65% - 5px);
    top: -3px;
  }
}
@media all and (min-width: 481px) {
  .quarter.q1 {
    display: none;
  }

  .dot:hover {
    background-color: #c0392b;
    cursor: pointer;
  }
}
@media all and (max-width: 480px) {
  #timeline {
    padding-bottom: 20px;
    padding-top: 0;
  }

  .line {
    height: auto;
    background: transparent;
    margin-top: 20px;
  }
  .line .year,
  .line .quarter {
    border-radius: 0;
    float: none;
    position: static;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;
    transition: background-color 500ms;
  }
  .line .year::after,
  .line .quarter::after {
    content: attr(data-mobiletext);
    display: block;
    padding-top: 12px;
  }
  .line .year.complete,
  .line .quarter.complete {
    background-color: #c0392b;
    color: #fbfcfc;
  }
  .line .year.active,
  .line .year.complete.active,
  .line .quarter.active,
  .line .quarter.complete.active {
    background-color: #c0392b;
    color: #fbfcfc;
  }
  .line .year {
    display: block;
  }
  .line .year::before {
    display: none;
  }
  .line .year::after {
    position: static;
  }
  .line .quarter {
    display: none;
  }
  .line .quarter.y2017 {
    display: block;
  }
}
